<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    <h1>主頁標題</h1>
    <p>副標題</p>
  </header>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    <h2>主頁結尾</h2>
    <hr>
        <!-- <h3> 列出所有變數 </h3> -->
        <ul>
            {% for key, value in context.locals.items %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% endfor %}
  </footer>
</body>
</html>
